/* CSS LAYOUT */
/* **************************************************************** */

/* SMARTPHONE*/
header {
    background-color: rgb(231, 143, 158);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-weight: bold;
}

